# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
*/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env
.DS_Store
.vscode/

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET build outputs
/backend/pi-planning-backend/bin/
/backend/pi-planning-backend/obj/
/backend/pi-planning-backend/Properties/launchSettings.json

# Docker / DB data
/db/mssql-data/
docker-compose.override.yml
