<div class="story-card">
  <h3>{{ story.title }}</h3>

  <div class="points">
    <ng-container
      *ngIf="
        parent?.showDevTest?.() && (story.devStoryPoints || story.testStoryPoints);
        else singlePoints
      "
    >
      <span *ngIf="story.devStoryPoints">💻 Dev: {{ story.devStoryPoints }}</span>
      <span *ngIf="story.testStoryPoints">🧪 Test: {{ story.testStoryPoints }}</span>
      <span>({{ (story.devStoryPoints || 0) + (story.testStoryPoints || 0) }})</span>
    </ng-container>

    <ng-template #singlePoints>
      <span
        >⭐
        {{
          story.storyPoints ?? (story.devStoryPoints || 0) + (story.testStoryPoints || 0)
        }}
        pts</span
      >
    </ng-template>
  </div>
</div>
